@page
@model Personal_Website.Pages.Om_mig.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="data_position_title">
    <h1>@Model.Index_title</h1>
</div>

<div class="data_position">
    @foreach (var data in ViewData["data_text"] as IEnumerable<Tuple<List<string>, List<Newtonsoft.Json.Linq.JToken>>>)
    {
        <h5>@data</h5>
    }
</div>
