@page
@model Personal_Website.Pages.Projekter.IndexModel
@{
    ViewData["Title"] = "Index";
}


<img class="banner_position" src='@ViewData["Banner"]' alt="ViewData[Banner] "/>

<div class="data_position_title">
    <h1>Projekter</h1>
</div>

<div class="data_position">
    @foreach (Personal_Website.Models.Data_text_object data in Model.list)
    {
        <div>
            <div class="subjects_font">@data.subject</div>
            <div>@data.text</div>
        </div>
    }
</div>