@page
@model Personal_Website.Pages.Fritid.After_EffectsModel
@{
    ViewData["Title"] = "After_Effects";
}

<img class="banner_position" src='@ViewData["Banner"]' alt="ViewData[Banner] " />

<div class="sub_buttons_specs">
    <a type="button" class="btn btn-outline-primary sub_buttons_ind disabled" style="color: #cb0000; border-color: #cb0000;" asp-area="" asp-page="/Fritid/After_Effects">After Effects</a>
    <a type="button" class="btn btn-outline-secondary sub_buttons_ind" style="margin-left: 20px; color: #ff6a00; border-color: #ff6a00;" asp-area="" asp-page="/Fritid/Blender">Blender</a>
    <a type="button" class="btn btn-outline-success sub_buttons_ind" style="margin-left: 20px; color: #009ad4; border-color: #009ad4;" asp-area="" asp-page="/Fritid/Godot">Godot</a>
</div>

<div class="data_position_title">
    <h1>After Effects</h1>
</div>

<div class="data_position pre-scrollable-custom">
    @foreach (Personal_Website.Models.Data_text_object data in Model.list)
    {
        <div>
            <div class="subjects_font">@data.subject</div>
            <div>@data.text</div>
        </div>
    }
    <iframe width="650" height="360" src="https://www.youtube.com/embed/U85mT141nVc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="650" height="360" src="https://www.youtube.com/embed/FCvHzDWhTlo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
