@page
@model IndexModel
@{
    ViewData["Title"] = "Om mig";
}

<div class="data_position_title">
    <h1>@Model.Om_mig_title</h1>
</div>
<div class="data_position">
    <h5>@Model.Om_mig_text</h5>
</div>
